html {
  height:100%;
}
body {
  font-family: 'Lato';
  color:#22231E;
  min-height:100%;
  margin:0;
  position:relative;
  background-color:#F4F4E2;
}



header {
  overflow:hidden;
}
.loaderwrap {
  position:absolute;
  top: 50%;
  left :50%;
  transform: translate(-50%, -50%);

}
.loader {
  border: 16px solid #B5ABA1;
  border-radius: 50%;
  border-top: 16px solid #2171b5;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1, h2 {
  text-align:center;
}


h2 {
  position: relative;
  overflow:hidden;
}

h2:before, h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '';
    border-bottom: 2px dotted #22231E;
}
h2:before {
    margin-left: -50%;
    text-align: right;
}

figure {
  display:flex;
  flex-flow:row wrap;
  align-items:flex-start;
  justify-content:center;
}


svg {
  flex:0 0 auto;
  height:100%;
  width:100%;
}


text{
  fill:#22231E;
}
select {
  text-transform: capitalize ;
  color:#22231E;
  background-color:#F4F4E2;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:2px solid #22231E;
}
select:focus {
  outline:none;
}

.edu-text p {
    padding:10px;
    text-align:center;
    font-size:10px;
}

.layer1 {
  cursor:pointer;
}


@media (min-width: 768px) {
  svg {
    flex:0 0 auto;
    height:100%;
    width:60%;
  } 
  .edu-text p {
    padding:10px;
    text-align:center;
    font-size:14px;
  }
}